[submodule "rhais_osc.pretty"]
	path = rhais_osc.pretty
	url = git@github.com:DX-MON/rhais_osc.pretty.git
[submodule "rhais_rcl.pretty"]
	path = rhais_rcl.pretty
	url = git@github.com:DX-MON/rhais_rcl.pretty.git
[submodule "rhais_usb.pretty"]
	path = rhais_usb.pretty
	url = git@github.com:DX-MON/rhais_usb.pretty.git
[submodule "rhais_package-smd.pretty"]
	path = rhais_package-smd.pretty
	url = git@github.com:DX-MON/rhais_package-smd.pretty.git
[submodule "rhais_connector-pinheader.pretty"]
	path = rhais_connector-pinheader.pretty
	url = git@github.com:DX-MON/rhais_connector-pinheader.git
[submodule "rhais_connector-molex.pretty"]
	path = rhais_connector-molex.pretty
	url = git@github.com:DX-MON/rhais_connector-molex.git
[submodule "rhais_package-qfn.pretty"]
	path = rhais_package-qfn.pretty
	url = git@github.com:DX-MON/rhais_package-qfn.pretty.git
[submodule "rhais_led.pretty"]
	path = rhais_led.pretty
	url = git@github.com:DX-MON/rhais_led.pretty.git
[submodule "rhais_button-smd.pretty"]
	path = rhais_button-smd.pretty
	url = git@github.com:DX-MON/rhais_button-smd.pretty.git
