[submodule "rhais_osc.pretty"]
	path = rhais_osc.pretty
	url = git@github.com:DX-MON/rhais_osc.pretty.git
[submodule "rhais_rcl.pretty"]
	path = rhais_rcl.pretty
	url = git@github.com:DX-MON/rhais_rcl.pretty.git
[submodule "rhais_usb.pretty"]
	path = rhais_usb.pretty
	url = git@github.com:DX-MON/rhais_usb.pretty.git
[submodule "rhais_package-smd.pretty"]
	path = rhais_package-smd.pretty
	url = git@github.com:DX-MON/rhais_package-smd.pretty.git
